.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.main-form{
  width: 100%;
  // @include resp-min(sm){
  //   width: 300px;
  // }
  @extend .center-block;
  input{
    border: 2px solid #ebebeb;
    @include borderR(0px);
    @extend .block-inline;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 15px 20px;
    color: #000;
    font-size: 16px;
    outline: none;
    min-height: 57px;
    //box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
    @extend .regular;
    @extend .transition;
    &:focus{
      border-color: setColor(corp);
    }
  }
  .btn{
    width: 100%;
  }
}
.border{
  &-block{
    border-style: solid;
    border-color: setColor(black, dark);
    border-width: 10px;
    padding: 30px;
    &-margin{
      padding: 20px 15px;
      background-color: #fff;
      margin-bottom: 10px;
    }
    @include resp-min(sm){
      &-margin{
        margin-bottom: 21px;
      }
    }
    @include resp-min(lg){
      border-width: 20px;
      padding: 38px 30px 74px 60px;
      &.big{
        .border-block-margin{
          margin-left: -144px;
        }
      }
      &-margin{
        padding: 5px 0 10px 0;
        margin-left: -163px;
      }
    }
    @include resp-max(lg){
      padding-right: 15px;
      padding-left: 15px;
      &-margin{
        margin-left: -30px;
      }
    }
    &-btn{
      &-bm,
      &-sm{
        margin-top: 31px;
      }
      &-bm{
        @include resp-min(sm){
          margin-top: 58px;
        }
      }
    }
  }
  &-left{
    @extend .relative;
    min-height: 65px;
    padding-left: 19px;
    padding-right: 25px;
    font-size: 20px;
    &:after{
      @extend .pseudo;
      left: 0;
      top: 0;
      width: 5px;
      height: 65px;
      background-color: setColor(corp);
    }
    @include resp-min(md){
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      line-height: 25px;
      p{
        max-width: 220px;
      }
    }
    @include resp-max(md){
      @include resp-min(sm){
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
        font-size: 30px;
        p{
          max-width: 545px;
        }
      }
    }
    @include resp-max(sm){
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.bg{
  &-grey{
    background-color: #e2e2e2;
    .border-block-margin{
      @extend .bg-grey;
    }
    &-light{
      background-color: #f5f5f5;
      .border-block{
        border-color: #e1e1e1;
      }
      .border-block-margin{
        @extend .bg-grey-light;
      }
    }
  }
}
.grayscale{
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  &.disabled{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);    
  }
}
.company{
  &-wrap{
    margin-top: 30px;
    @include resp-min(sm){
      margin-top: 73px;
    }
  }
  &-block{
    display: inline-block;
    vertical-align: middle;
    padding: 0 23px;
    @include resp-max(sm){
      width: 100%;
    }
    img{
      @extend .transition;
      @extend .grayscale;
      &:hover{
        @extend .grayscale.disabled;
      }
    }
  }
}
.big-man{
  position: absolute;
  right: -32px;
  bottom: -32px;
  @include resp-max(lg){
    @include resp-min(sm){
      right: -140px;
      bottom: -350px;
    }
  }
  @include resp-max(sm){
    bottom: -380px;
    width: 370px;
    left: -114px;
    transform: scale(-1,1);
  }
}
.notebook{
  overflow: hidden;
  &-img{
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  @include resp-max(sm){
    padding-bottom: 80px;
    &-img{
      width: 400px;
      margin-left: -200px;
      bottom: -92px;
    }
  }
  @include resp-min(sm){
    @include resp-max(md){
      padding-bottom: 120px;
      &-img{
        width: 600px;
        margin-left: -300px;
        bottom: -139px;
      }
    }
  }
  @include resp-min(md){
    @include resp-max(lg){
      padding-bottom: 175px;
      &-img{
        width: 800px;
        margin-left: -400px;
        bottom: -187px;
      }
    }
  }
  @include resp-min(lg){
    padding-bottom: 250px;
    &-img{
      width: 1201px;
      height: 351px;
      margin-left: -600px;
      bottom: -263px;
    }
  }
}
.freewebinar{
  padding-top: 75px;
  padding-bottom: 75px;
  @include resp-min(md){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include resp-min(lg){
    padding-top: 200px;
    padding-bottom: 220px;
  }
}
.freewebinar{
  &-img{
    position: absolute;
    right: 0;
    top: -19px;
  }
  @include resp-max(sm){
    .border-block{
      padding-bottom: 150px;
    }
    &-img{
      width: 150px;
      bottom: -6px;
      top: auto;  
    }
  }
  @include resp-min(sm){
    &-img{
      top: 110px;
      width: 231px;
    }
  }
  @include resp-min(md){
    &-img {
      top: -8px;
      width: 400px;
    }
    @include resp-max(lg){
      .border-block{
        height: 365px;
      }
    }
  }
  @include resp-min(lg){
    .border-block{
      height: 385px;
    }
  }
}
%news-margin{
  margin-bottom: 15px;
  @include resp-min(md){
    margin-bottom: 25px;
  }
}
.news{
  &-wrap{
    margin-top: 20px;
  }
  &-block{
    &-img,
    &-title,
    &-date,
    &-text{
      @extend %news-margin;
    }
    &-img{
      height: 270px;
      img{
        max-height: 100%;
      }
    }
    &-title{
      @extend .blacks;
    }
    &-date{
      color: #707070;
    }
    &-text{
    }
    &-read-more{
      a{
        @extend .blacks;
        @extend .relative;
        @extend .block-inline;
        padding-bottom: 2px;
        text-decoration: none;
        color: inherit;
        &:after{
          @extend .pseudo;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: setColor(corp);
        }
      }
    }
  }
  @include resp-max(sm){
    &-block{
      &-img{
        width: 250px;
        height: 250px;
      }
      &-wrap{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    
  }
  @include resp-min(sm){
    &-wrap{
      margin-top: 40px;
    }
    &-img{
      width: 270px;
    }
    @include resp-max(md){
      &-block{
        &-img{
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  @include resp-min(md){
    &-block{
      max-width: 270px;
      &-title{
        font-size: 24px;
      }
    }
  }
  @include resp-max(lg){
    &-border-block{
      padding-bottom: 0;
    }
  }
}
.subscribe{
  margin-top: 50px;
  @extend .relative;
  padding: 15px 0;
  &-form{
    &.margin{
      margin-top: 30px;  
    }
    @include resp-max(md){
      input{
        margin-bottom: 15px;
      }
    }
  }
  &-gift{
    position: absolute;
    right: 15px;
    top: -65px;
  }
  @include resp-max(sm){
    &-gift{
      width: 250px;
      margin-left: -125px;
      left: 50%;
      right: auto;
      &-wrap{
        padding-top: 120px;
      }
    }
  }
  @include resp-min(sm){
    padding: 25px 25px 30px 15px;
  }
}