.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.main-form{
  width: 100%;
  // @include resp-min(sm){
  //   width: 300px;
  // }
  @extend .center-block;
  input{
    border: 2px solid #ebebeb;
    @include borderR(0px);
    @extend .block-inline;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 15px 20px;
    color: #000;
    font-size: 16px;
    outline: none;
    height: 50px;
    //box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
    @extend .regular;
    @extend .transition;
    &:focus{
      border-color: setColor(corp);
    }
  }
  .btn{
    width: 100%;
  }
  &.big{
    input{
      min-height: 57px;
    }
  }
  &.small{
    .btn{
      height: 50px;
      
      line-height: 1;
      padding: 0;
      @include resp-min(sm){
        width: 200px;  
      }
      @include resp-max(sm){
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}
.phone{
  p{
    margin-bottom: 10px;
    text-align: right;
    
    &:last-child{
      margin-bottom: 0;
    }
  }
  span{
    text-align: left;
    display: inline-block;
    width: 50px;
    color: setColor(black, light);
  }
}
.border{
  &-block{
    border-style: solid;
    border-color: setColor(black, dark);
    border-width: 10px;
    padding: 30px;
    &-margin{
      padding: 20px 15px;
      background-color: #fff;
      margin-bottom: 10px;
    }
    @include resp-min(sm){
      &-margin{
        margin-bottom: 21px;
      }
    }
    @include resp-min(lg){
      border-width: 20px;
      padding: 38px 30px 74px 60px;
      &.big{
        .border-block-margin{
          margin-left: -110px;
        }
      }
      
      &-margin{
        padding: 5px 0 10px 0;
        margin-left: -163px;
        &.small-m{
          margin-left: -60px;
        }
      }
    }
    @media (min-width: 1400px){
      &.big{
        .border-block-margin{
          margin-left: -144px;
        }
      }
    }
    @include resp-max(lg){
      padding-right: 15px;
      padding-left: 15px;
      &-margin{
        margin-left: -30px;
      }
    }
    &-btn{
      &-bm,
      &-sm{
        margin-top: 31px;
      }
      &-bm{
        @include resp-min(sm){
          margin-top: 58px;
        }
      }
    }
  }
  &-left{
    @extend .relative;
    min-height: 65px;
    padding-left: 19px;
    padding-right: 25px;
    font-size: 20px;
    &:after{
      @extend .pseudo;
      left: 0;
      top: 0;
      width: 5px;
      height: 65px;
      background-color: setColor(corp);
    }
    @include resp-min(md){
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      line-height: 25px;
      p{
        max-width: 220px;
      }
    }
    @include resp-max(md){
      @include resp-min(sm){
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
        font-size: 30px;
        p{
          max-width: 545px;
        }
      }
    }
    @include resp-max(sm){
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: 1275px) and (max-width: 1399px) {
  .vcontainer-small{
    .border-block-margin{
      margin-left: -100px;
    }
  }  
}

.bg{
  &-grey{
    background-color: #e2e2e2;
    .border-block-margin{
      @extend .bg-grey;
    }
    &-light{
      background-color: #f5f5f5;
      .border-block{
        border-color: #e1e1e1;
      }
      .border-block-margin{
        @extend .bg-grey-light;
      }
    }
  }
}
.transparent{
  background-color: transparent;
}
.grayscale{
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  &.disabled{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);    
  }
}
.company{
  &-wrap{
    margin-top: 30px;
    @include resp-min(sm){
      margin-top: 73px;
    }
  }
  &-block{
    display: inline-block;
    vertical-align: middle;
    padding: 0 23px;
    @include resp-max(sm){
      width: 100%;
    }
    img{
      @extend .transition;
      @extend .grayscale;
      &:hover{
        @extend .grayscale.disabled;
      }
    }
  }
}
.big-man{
  position: absolute;
  right: -32px;
  bottom: -32px;
  @include resp-max(lg){
    @include resp-min(sm){
      right: -140px;
      bottom: -350px;
    }
  }
  @include resp-max(sm){
    bottom: -380px;
    width: 370px;
    left: -120px;
    transform: scale(-1,1);
  }
}
.notebook{
  overflow: hidden;
  &-img{
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  @include resp-max(sm){
    padding-bottom: 80px;
    &-img{
      width: 400px;
      margin-left: -200px;
      bottom: -92px;
    }
  }
  @include resp-min(sm){
    @include resp-max(md){
      padding-bottom: 120px;
      &-img{
        width: 600px;
        margin-left: -300px;
        bottom: -139px;
      }
    }
  }
  @include resp-min(md){
    @include resp-max(lg){
      padding-bottom: 175px;
      &-img{
        width: 800px;
        margin-left: -400px;
        bottom: -187px;
      }
    }
  }
  @include resp-min(lg){
    padding-bottom: 250px;
    &-img{
      width: 1201px;
      height: 351px;
      margin-left: -600px;
      bottom: -263px;
    }
  }
}
.freewebinar{
  padding-top: 75px;
  padding-bottom: 75px;
  @include resp-max(sm){
    padding-top: 0;
  }
  @include resp-min(md){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include resp-min(lg){
    padding-top: 200px;
    padding-bottom: 220px;
  }
}
.freewebinar{
  &-img{
    position: absolute;
    right: 0;
    top: -19px;
  }
  @include resp-max(sm){
    .border-block{
      padding-bottom: 150px;
    }
    &-img{
      width: 150px;
      bottom: -6px;
      top: auto;  
    }
  }
  @include resp-min(sm){
    &-img{
      top: 110px;
      width: 231px;
    }
  }
  @include resp-min(md){
    &-img {
      top: -8px;
      width: 400px;
    }
    @include resp-max(lg){
      .border-block{
        height: 365px;
      }
    }
  }
  @include resp-min(lg){
    .border-block{
      height: 385px;
    }
  }
}
%news-margin{
  margin-bottom: 15px;
  @include resp-min(md){
    margin-bottom: 25px;
  }
}
.news{
  &-wrap{
    margin-top: 20px;
  }
  &-block{
    &-img,
    &-title,
    &-date,
    &-text{
      @extend %news-margin;
    }
    &-img{
      height: 270px;
      img{
        max-height: 100%;
      }
    }
    &-title{
      @extend .blacks;
    }
    &-date{
      color: #707070;
    }
    &-text{
    }
    &-read-more{
      a{
        @extend .blacks;
        @extend .relative;
        @extend .block-inline;
        padding-bottom: 2px;
        text-decoration: none;
        color: inherit;
        &:after{
          @extend .pseudo;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: setColor(corp);
        }
      }
    }
  }
  @include resp-max(sm){
    &-block{
      &-img{
        width: 250px;
        height: 250px;
      }
      &-wrap{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    
  }
  @include resp-min(sm){
    &-wrap{
      margin-top: 40px;
    }
    &-img{
      width: 270px;
    }
    @include resp-max(md){
      &-block{
        &-img{
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  @include resp-min(md){
    &-block{
      max-width: 270px;
      &-title{
        font-size: 24px;
      }
    }
  }
  @include resp-max(lg){
    &-border-block{
      padding-bottom: 0;
    }
  }
}
.subscribe{
  margin-top: 50px;
  @extend .relative;
  padding: 15px 0;
  &-form{
    &.margin{
      margin-top: 30px;  
    }
    @include resp-max(md){
      input{
        margin-bottom: 15px;
      }
    }
  }
  &-gift{
    position: absolute;
    right: 15px;
    top: -65px;
  }
  @include resp-max(sm){
    margin-top: 100px;
    &-gift{
      width: 250px;
      margin-left: -125px;
      left: 50%;
      right: auto;
      &-wrap{
        padding-top: 120px;
      }
    }
  }
  @include resp-min(sm){
    padding: 25px 25px 30px 15px;
  }
}

.video-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 48px;
  margin-left: -35px;
  margin-top: -24px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  @include borderR(10px);
  &:after{
    @extend .pseudo;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -12px;
    border: 12.5px solid transparent; 
    border-left: 12.5px solid #fff;
  }
}
@for $i from 1 through 5{
  @include resp-min(sm){
    .review-#{$i}{
      display: inline-block;
    }
  }
  .review-#{$i}{
    @extend .relative;
  }
}
.review{
  &-text{
    &-inner{
      @extend .relative;
      &:after,
      &:before{
        @extend .pseudo;
        width: 28px;
        height: 22px;
        @include bg("../img/review.png");
      }
      &:before{
        left: -39px;
        top: 8.5px;
      }
      &:after{
        right: -25px;
        bottom: 0px;
        transform: rotate(180deg);
      }
      // p{
      //   margin-bottom: 10px;
      //   &:last-child{
      //     margin-bottom: 0;
      //   }
      // }
    }
  }
  &-img{
    width: 190px;
    height: 190px;
  }
  @include resp-max(sm){
    &-text{
      &-block{
        text-align: center;
      }  
    }
    &-block{
      margin-bottom: 30px;
    }
    &-img{
      margin: 0 auto 15px;
    }
    &-text-inner{
      padding: 40px 0;

      &:before{
        left: 0;
        top: 0;
      }
      &:after{
        right: 0;
        bottom: 0;
      }
    }
    &-video{
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include resp-min(sm){
    &-title{
      margin-left: -10px; 
    }
    &-1{
      margin-left: -41px;
      
    }
    &-2{
      margin-left: 60px;
      max-width: 350px;
    }    
    &-2,
    &-3{
      .review-img{
        margin-bottom: 20px;
      }
    }
    &-4{
      max-width: 600px;
      //margin-top: 75px;
      .review{
        &-text-inner,
        &-img{
          display: inline-block;
        }
        &-text-inner{
          width: 310px;
          margin-left: 50px;
        }
      }
    }
    @include resp-max(md){
      &-3{
        text-align: center;
        display: block;
        padding: 0 40px;
        margin: 50px 0;
        .review-img{
          margin-left: auto;
          margin-right: auto;
        }
      }
      &-5{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -30px;
        margin-top: 45px;
      }
    }
    
  }
  @include resp-min(md){

    &-wrap{
      padding-bottom: 80px;
    }
    &-1{
      margin-left: -75px;
    }
    &-2{
      top: 30px;
      max-width: 311px;
    }   
    &-3{
      max-width: 190px;
      position: absolute;
      
      right: 50px;
      top: -109px;
    }
    &-4{
      margin-top: 75px;
    } 
    
    &-5{
      position: absolute;
      right: -25px;
      bottom: -90px;
    }   
  }
  @include resp-max(lg){
    &-video{
      width: 250px;
      height: 250px;
    }
  }
  @include resp-min(lg){
    &-title{
      margin-left: -60px; 
    }
    &-1{
      width: 368px;
      height: 368px;
      margin-left: -141px;
    }
    &-2{
      max-width: 370px;
    }
    &-3{
      right: 121px;
    }
    &-5{
      right: -100px;
      bottom: -159px;
    }
  }
}
.about{
  &-block{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
  }
  @include resp-max(md){
    &-block{
      &:nth-child(n+10){
        display: none;
      }
    }
    &-visible-blocks{
      .about-block{
        display: block !important;
      }
    }
  }
}
.events{
  &-border{
    position: relative;
  }

  &-carousel{
    &-wrap{
      
      img{
        max-height: 100%;
      }
    }
  }
  .owl{
    &-controls{
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -30px;
      width: 100%;
      
    }
    &-prev,
    &-next{
      width: 34px;
      height: 60px;
      position: absolute;
      @include bg("../img/arrow.png");
    }
    &-prev{
      left: -15px;
    }
    &-next{
      right: -15px;
      transform: rotate(-180deg);
    }
  }
  @include resp-min(sm){
    &-border{
      height: 270px;
      @include resp-max(md){
        .review-1{
          top: -30px;
        }
      }
    }
    &-carousel{
      &-wrap{
        position: absolute;
        top: 0;
        right: 15px;
        width: 375px;
        img{
          max-height: 250px;
        }
      }
    }
  }
  @include resp-min(md){
    &-border{
      height: 382px;
    }
    &-carousel{
      &-wrap{
        
        width: 542px;
        //height: 280px;
        img{
          max-height: 362px;
        }
      }
    }    
  }
  @include resp-min(lg){
    &-border{
      height: 535px;
    }
    &-carousel{
      &-wrap{
        height: 495px;
        width: 742px;
        right: -60px;
        img{
          max-height: 495px;
        }
      }
    }
  }
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
